* {
    color:#fff;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Coustard', serif;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Space Mono', monospace;
}

body {
    background-image: url("../images/jelly.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    width: 100%;
}


/*navbar starts*/
header {
    position: relative;
    top: 0;
    
    padding: 30px 50px;
    
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;;
}

header .nav a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 10px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .nav a:not(:last-child) {
    margin-right: 100px;
}

header .nav a:hover {
   background: #7a00ff; 
}
/*navbar ends*/


/*image sizing start*/
.flexbox2 img {
    width: 100%;
}

.profile {
    width: 100%;
    /*clip-path: circle(200px at 200px 400px);*/
    border-radius: 50%;
}
/*image sizing end*/


/*text sizing start*/
p {
    font-size: 20px;
}

p a {
    text-decoration: none;
}

p a:hover {
    background: #7a00ff;
    border-radius: 7px;
}

.flexbox3 .base {
    font-size: 19px;
}
/*text sizing end*/


/*flexbox start*/
.flexboxContainer {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px;
}

.flexbox {
    flex: 1;
    margin: 20px;
}

.flexbox3 {
    flex: 2;
}

.flexbox.flexbox1 {
    margin-top: 70px;
}

.flexbox.flexbox2 {
    margin-top: 70px;
}
/*flexbox end*/

footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 0;
    border-radius: 10px;
    margin: 0 10px;
    text-align: center;
}

p.footer {
    font-size: 20px;
}

@media (min-width: 900px) {
    .flexboxContainer {
        display: flex;
    }  
}

@media (max-width: 900px) {
    .flexboxContainer {
        
    }

    .profile {
        margin: 5% auto;
    }

    .flexbox.flexbox2 {
        margin: 0 auto;
    }

    .flexbox3 {
        padding-bottom: 2%;
    }
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 25px;
        margin: 2% auto;
    }

    .flexbox3 {
        margin: 3% auto;
    }
}