* {
    color:#fff;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Coustard', serif;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Space Mono', monospace;
}

body {
    background-image: url("../images/flower.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    width: 100%;
}

header {
    position: relative;
    top: 0;
    
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;;
}

header .nav a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 30px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}


header .nav a:not(:last-child) {
    margin-right: 100px;
}

header .nav a:hover {
   background: rgb(48, 2, 98); 
}

/*ABout logo*/
.flexbox2 {
    display: flex;
    align-items: flex-start;
    padding: 0 1rem;
}

.flexbox2 img {
    width: 95%;
    
    height: 10%;
    margin: 5%;
}



.profile {
    width: 400px;
    /*clip-path: circle(200px at 200px 400px);*/
    border-radius: 50%;
}

p {
    font-size: 20px;
}

p a {
    text-decoration: none;
}

p a:hover {
    background: rgb(48, 2, 98);
}

/*flexbox*/
.flexboxContainer {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    width: fit-content;
    flex-shrink: inherit;
    margin: 10px;
    padding: 20px;
    
}

.flexbox {
    border-radius: 10px;
    
}

.flexbox1 {
    min-width: 400px;
    text-align: right;
    /*height: 100px;*/
}

.flexbox2 {
    min-width: 400px;
    
    
}

.flexbox3 {
    min-width: 400px;
    
}


@media only screen and (max-width: 700px) {
    .aboutlogo {
        display: none;
    }
}