* {
    
    color:#fff;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Coustard', serif;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Space Mono', monospace;
}

body {
    background-image: url("../images/jelly.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100;
}

h5 {
    font-size: 55px;
}

header {
    position: relative;
    top: 0;
    
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;;
}

header .nav a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 10px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}


header .nav a:not(:last-child) {
    margin-right: 100px;
}

header .nav a:hover {
   background: #7a00ff; 
}


/*img start*/
.flexbox2 img {
    width: 90%;
}

.flexbox3 img {
    width: 100px;
}

.flexbox3 img:hover {
    background: #7a00ff;
    border-radius: 10px;
}
/*img end*/


/*text start*/
.resume {
    text-decoration: none;
}

.resume:hover {
    background: #7a00ff;
    border-radius: 20px;
}

.flexbox3 a {
    font-size: 20px;
}
/*text end*/


/*flexbox start*/
.flexboxContainer {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    
    margin: 10px;
}

.flexbox {
    margin: 20px auto;
    
}

.flexbox1 {
    text-align: center;
    margin-top: 5%;
}

.flexbox1, .flexbox2 {
    flex: 2;
}

.flexbox3 {
    flex: 1;
    margin: 10% 2% auto auto;
}

.flexbox3 {
    text-align: center;
}
/*flexbox end*/

footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 0;
    border-radius: 10px;
    margin: 0 10px;
    text-align: center;
    font-size: 16px;
}


@media (min-width: 900px) {
    .flexboxContainer {
        display:flex;
    }

    p.footer {
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .flexbox1 h5 {
        margin: auto;
        padding: 30px;
        font-size: 40px;
    }

    .flexbox3 {
        padding-bottom: 5%;
    }

    .flexbox2 img {
        margin: auto 20px;
    }
}

@media only screen and (min-width: 1400px) {
    .flexbox3 h3{
        font-size: 30px;
    }

    .flexbox3 a {
        font-size: 40px;
    }

    .flexbox1 h5 {
        font-size: 70px;
        margin: 25% auto;
    }
}

