* {
    color:#fff;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Coustard', serif;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Space Mono', monospace;
}

body {
    background-image: url("../images/jelly.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

button {
    background-color: rgb(48,2,98);
    background: linear-gradient(90deg, rgba(48,2,98,1) 41%, rgba(122,0,255,1) 80%);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    border-radius: 10px;
    margin: 0 10px;
    
}
 .footer p {
    text-align: center;
 }

/*navbar start*/
header {
    position: relative;
    top: 0;
    
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;;
}

header .nav a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 10px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .nav a:not(:last-child) {
    margin-right: 100px;
}

header .nav a:hover {
   background: #7a00ff/*rgb(48, 2, 98);*/ 
}
/*navbar ends*/


/*New flexbox start*/
.main-container {
    
    margin: 10px;
    border-radius: 10px;
    display: flex;
}

.logo{
    flex: 1;
    margin: 0 5px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}


.project-info {
    flex: 3; 
    
}

.column {
    flex-direction: column;
    margin: 20px 10px;
}

h2 {
    margin: auto;
}

.column p {
    margin: 20px 10px 3px 10px;
}

p.column {
    margin: 0 0;
}

.gameover-box {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    margin:0 0 10px 5px;
    border-radius: 20px;
}

.portfolio-box {
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
    margin: 5px 0 10px 5px;
    border-radius: 20px;
}

.capital-box {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    margin: 5px 0 10px 5px;
    border-radius: 20px;
}

.luvers-box {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    margin: 10px 0 0 5px;
    border-radius: 20px;
}

/*new flexbox end*/


/*flex box starts



.capital-box {
    flex: 1;
    margin: 0;
    order: 2;
    margin-left: 30px;
    margin-right: 10px;
    
}

.luvers-box {
    flex: 1;
    margin: 0;
    border-radius: 10px;
    
    order: 1;
    margin-left: 10px;
    
}
flex box ends*/



h2, p {
    text-align: center;
}

.github-link1 {
    text-align: center;
}

/*continue here ==> i am basically trying to align the visti site button and github button and i think imma have to flex box them*/


/*image start*/
.projectlogo {
    width: 100%;
   
}

.mockup {
    margin:auto;
    
}

.github{
    width: 10%;
    padding: 5px;
}

.github:hover {
    background: #7a00ff/*rgba(48, 2, 98)*/;
    border-radius: 10px;
    padding: 5px;
}
/*image end*/

@media (min-width: 900px) {
    /*.main-container, .project-info {
        display:flex;
    }*/

    .mockup {
        width: 40%;
    }
}

@media only screen and (min-width: 1400px) {
    .project-info h2 {
        font-size: 60px;
        margin: 0px;
    }

    p {
        font-size: 20px;
    }

    .github {
        width: 60px;
    }

    .mockup {
        width: 10%;
        
        object-fit: cover;
    }

    /*.github-link1 {
        margin-top: 7%;
    }*/
}