* {
    color:#fff;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Coustard', serif;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Space Mono', monospace;
}

body {
    background-image: url("/images/jelly.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

/*navbar start*/
header {
    position: relative;
    top: 0;
    
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;;
}

header .nav a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 10px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .nav a:not(:last-child) {
    margin-right: 100px;
}

header .nav a:hover {
   background: rgb(48, 2, 98); 
}

/*navbar ends*/


/*flex box starts*/
.main-container {
    
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    border-radius: 10px;
}

.logo{
    flex: 1;
    margin: 0;
    
}

.project-info {
    
    flex: 3;
    border-radius: 10px;
    
}

.capital-box {
    flex: 1;
    margin: 0;
    order: 2;
    margin-left: 30px;
    margin-right: 10px;
    
}

.luvers-box {
    flex: 1;
    margin: 0;
    border-radius: 10px;
    
    order: 1;
    margin-left: 10px;
    
}
/*flex box ends*/


h2 {
    text-align: center;
    margin-top: 0;
}

p {
    text-align: center;
}

.github:hover {
    background: rgba(48, 2, 98);
    border-radius: 10px;
    ;
}

/*image size start*/
.projectlogo {
    width: 90%;
    margin-top: 25%;
}

.mockup {
    width: 80%;
    
    margin-left: 10%;
    margin-bottom: 0;

}

.github {
    width: 20%;
    margin: 0 20% 10px 45%;
}
/*image size end*/

@media (min-width: 900px) {
    .main-container, .project-info {
        display:flex;
    }
}

@media only screen and (min-width: 1400px) {
    .luvers-box h2 {
        font-size: 70px;
    }

    .capital-box h2 {
        font-size: 60px;
    }

    p {
        font-size: 20px;
    }

    .github {
        width: 60px;
    }
}